{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}

    <button>{{ form.email.label }}</button>
    {{ form.email }}<br>
    {% if form.email.errors %}
    {% for error in form.email.errors %}
        <span>{{ error }}</span>
    {% endfor %}
    {% endif %}
     
   <button> {{ form.password.label }}</button>
    {{ form.password }}<br>
    <button>{{ form.confirm_password.label }}</button>
    {{ form.confirm_password }}
    <button>{{ form.submit }}</button>
></form >
{% endblock %}